[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible
[submodule "roles/dotfiles/files/.vim/bundle/gruvbox"]
	path = roles/dotfiles/files/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv
[submodule "roles/dotfiles/files/.oh-my-zsh"]
	path = roles/dotfiles/files/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "roles/dotfiles/files/.tmux/plugins/tpm"]
	path = roles/dotfiles/files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "roles/dotfiles/files/.config/awesome"]
	path = roles/dotfiles/files/.config/awesome
	url = https://github.com/retiarus/awesome-copycats
[submodule "roles/dotfiles/files/.vim/bundle/dein.vim"]
	path = roles/dotfiles/files/.vim/bundle/dein.vim
	url = https://github.com/Shougo/dein.vim
