[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible
[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv
[submodule "roles/dotfiles/files/.oh-my-zsh"]
	path = roles/dotfiles/files/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "roles/dotfiles/files/.tmux/plugins/tpm"]
	path = roles/dotfiles/files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "roles/dotfiles/files/.config/awesome"]
	path = roles/dotfiles/files/.config/awesome
	url = https://github.com/retiarus/awesome-copycats
[submodule "roles/dotfiles/files/.fzf"]
	path = roles/dotfiles/files/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "roles/dotfiles/files/.config/neomutt/powerline"]
	path = roles/dotfiles/files/.config/neomutt/powerline
	url = https://github.com/sheoak/neomutt-powerline-nerdfonts.git
[submodule "roles/dotfiles/files/.zplug"]
	path = roles/dotfiles/files/.zplug
	url = https://github.com/zplug/zplug
[submodule "roles/dotfiles-gruvbox/files/.config/awesome"]
	path = roles/dotfiles-gruvbox/files/.config/awesome
	url = https://github.com/retiarus/awesome-copycats
